[Unit]
Description=Redis for Overleaf (ARM64)

[Container]
Image=@REDIS_IMAGE_FULL@
ContainerName=redis
Volume=overleaf-redis-data.volume:/data
Network=overleaf.network
Exec=@REDIS_COMMAND@
AutoUpdate=registry
NoNewPrivileges=true

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target