[Unit]
Description=Mongo for Overleaf (ARM64)

[Container]
Image=@MONGO_IMAGE_FULL@
ContainerName=mongo
Volume=overleaf-mongo-data.volume:/data/db:rw,U
Network=overleaf.network
Exec=mongod --replSet overleaf
AutoUpdate=registry
NoNewPrivileges=true

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target